{% extends 'basenav.html' %}
<title>{% block title %} Search Page {% endblock %}</title>

{% block body_block %}
{% load static %}
<style>
    .active-nav::before{
        position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    background-color: #d1d1d1;
    width:100%;
    height: 2px;
    border-radius: 9px;
    }
    .active-nav{
        position: relative;
    }
    .cursor-pointer{
        cursor: pointer;
    }
    .added-notifications{
        display: none!important;
    }
    .search-form.ml-auto {
    display: flex!important;
}

@media (max-width: 500px) {
.search-isactive .user-image{
display: none!important;
}
.search-isactive{
    background: transparent;
    display: flex!important;
    align-content: baseline!important;
    flex-wrap: wrap;
    justify-content: flex-end!important;
    width: 30px;
    max-width: 30px;
    min-width: 30px;
}
.search-form.small-screen-search-form{
    background: transparent;
    display: flex!important;
    align-content: baseline!important;
    flex-wrap: wrap;
    justify-content: flex-end!important;
    width: 30px;
    max-width: 30px;
    min-width: 30px;
}
.display-none-sm{
        display: none!important;
        opacity: 0!important;
        width: 0px;
    }
.small-screen-search   .search-input{
    display: none!important;
}


}
</style>
<div class="search-container container-fluid">
    <div class="search-page-wrap">
        <div class="search-page my-3 mx-2">
            <h2 class="h2">Search Page</h2>

        </div>
        <div class="header-links mt-3">
            <div class="d-flex align-items-center justify-content-between pb-sm-2 px-md-4 px-sm-2 px-xl-4 px-2 ">
                <div class="filter-posts cursor-pointer active-nav">
                    <span>Post</span>
                </div>
                <div class="filter-profiles cursor-pointer">
                    <span>Profiles</span>
                </div>           
                <div class="filter-comments cursor-pointer">
                    <span>Comments</span>
                </div>       
                <div class="filter-photos cursor-pointer">
                    <span>Post</span>
                </div>
            </div>
            <hr>
        </div>
    </div>
</div>
{% block javascript %} <script>
const navforsearch = document.querySelector('.navbar-containing-search-light-hamb')
let userImage = document.querySelector('.user-image')
let searchForm = document.querySelector('.search-form')
let searchInput = document.querySelector('search-input')
searchForm.addEventListener('submit', (e)=>{
    e.preventDefault()
    if(window.screen.width < 500){
        searchForm.classList.add('search-isactive')
    userImage.classList.add('display-none-sm')
    }
})



</script> {% endblock %}

{% endblock %}