<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Unauthorized Access</title>
</head>
<style>
    .wrap-coma8{
        background-color: rgb(240, 240, 240);
        padding: 12px;
        margin: auto;
    }
</style>
<body>
    <div class="wrap-coma8">
        <header>Unauthorized Access</header>
        <p>You account does not have access to this page.</p>
        <p>Go to home page <a href="{% url 'basic_app:home' %}">Home Page</a></p>
    </div>
</body>
</html>