{% extends 'basenav.html' %}
{% block body_block %}
{% load static %}
<title>{% block title %} Edit Post {% endblock %}</title>
<style>
    p {
    margin-top: 0;
    margin-bottom: 1rem;
    display: grid;
}
.page-scroll{
    height: 100vh;
    overflow-y: scroll;
    margin-bottom: 50vh;
}


</style>
    <section class="editpage0aka page-scroll">
        <div class="wrapa-ao09ama">
            <div class="d-flex icon-bac my-2 rounded-circle-small bg-light rounded-circle justify-content-between d-flex cursor-pointer align-items-center">
                <button class="back-btn border-none box-shadow-none d-flex align-items-center justify-content-center bg-btn-transparent">
                    <span class="material-symbols-outlined filled-icon">
                        arrow_back_ios
                    </span>
                </button>
                <header class="h5 mx-2">Edit Post</header>
            </div>
        </div>
        <div class="">
            <form enctype="multipart/form-data" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-secondary">Submit</button>
            </form>
        </div>
    </section>
{% endblock %}
{% block javascript %} <script src="{% static 'js/index.js' %}"></script> {% endblock %}